@charset "IBM437";
/*
* SCSS Tooltips
* By David Tintner & Hacking UI
* http://hackingui.com/front-end/scss-tooltips/
*
* $direction: ne, nw, se, sw. relative to the element the tooltip is on
* $bg-color: any CSS valid color string, will be applied as bg color of tooltip
* Content for tooltip comes from data-tooltip attribute on element
*/
/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.1.0
*/
/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
/*
* Respond To
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }

  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}

@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }

  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}

@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold;
  }

  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1);
  }
}

/*
* Resize Sprite - for resizing only a single image from a sprite
*
* params: $map = $<name>-sprites (ex. $icon-sprites)
*         $sprite = file name w/o file type ending (ex. globe)
          $percent = number (ex. 50)
*
* (if compass CSS3 mixins not included, uncomment the background-size row and comment the @include version)
*/
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
/*
* HUI Tooltips
*/
/*
## Text-align justify
For perfectly aligned grids that don't rely on floating elements and difficult calculations

- http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
/*
* Where the magic happens
*/
.tooltip {
  position: relative;
}
.tooltip:before, .tooltip:after {
  opacity: 0;
  z-index: 98;
  transition: opacity 300ms, visibility 0ms linear 300ms;
  pointer-events: none;
}
@media (max-width: 480px) {
  .tooltip:before, .tooltip:after {
    display: none;
  }
}
.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  width: 200px;
  padding: 10px 15px;
  line-height: 18px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  white-space: normal;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #0061c8;
  color: white;
}
.tooltip:after {
  content: '';
}
.tooltip:before {
  top: -9px;
  bottom: auto;
  transform: translateY(-100%);
  margin-left: -18px;
}
.tooltip:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: 6px solid #0061c8;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
  top: -9px;
  bottom: auto;
}
.tooltip:before, .tooltip:after {
  left: 50%;
  right: auto;
  margin-left: -6px;
}
.tooltip:hover {
  /* putting comment here so :hover is declared first by itself to fix ie10 bug with transitions on psuedo elements- http://css-tricks.com/pseudo-element-animationstransitions-bug-fixed-in-webkit/ */
}
.tooltip:hover:before, .tooltip:hover:after {
  opacity: 1;
  pointer-events: all;
  transition-delay: 0ms;
}
@media (max-width: 480px) {
  .tooltip:hover:before, .tooltip:hover:after {
    display: none;
  }
}

.tooltip--up:before {
  top: -9px;
  bottom: auto;
  transform: translateY(-100%);
}
.tooltip--up:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: 6px solid #0061c8;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
  top: -9px;
  bottom: auto;
}

.tooltip--down:before {
  bottom: -9px;
  top: auto;
  transform: translateY(100%);
}
.tooltip--down:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid #0061c8;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  bottom: -9px;
  top: auto;
}

.tooltip--left:before, .tooltip--left:after {
  right: 50%;
  left: auto;
  margin-right: -6px;
}
.tooltip--left:before {
  margin-right: -18px;
}

.tooltip--right:before, .tooltip--right:after {
  left: 50%;
  right: auto;
  margin-left: -6px;
}
.tooltip--right:before {
  margin-left: -18px;
}

.tooltip--center:before, .tooltip--center:after {
  left: 50%;
  margin-left: 0;
}
.tooltip--center:before {
  transform: translate3d(-50%, -100%, 0);
  margin-right: -18px;
}
